@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9fafb; /* Light gray background */
}

/* Ensure the header stays on top */
header {
  position: sticky;
  top: 0;
  z-index: 50;
}

html {
  scroll-behavior: smooth;
}